<div class="btn-group dropup">
    <button type="button" class="btn btn-default">Social links</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="fa fa-facebook-official fa-2x"> Facebook</a></li>
        <li><a href="#" class="fa fa-twitter-square fa-2x"> Twitter</a></li>
        <li><a href="#" class="fa fa-google-plus-square fa-2x"> Google Plus</a></li>
        <li><a href="#" class="fa fa-instagram fa-2x"> Instagram</a></li>
    </ul>
</div>
@Scripts.Render("~/Script/jQuery")
@Scripts.Render("~/Script/bootstrap")
