@model ContactHub_MVC.Models.UserModel.ContactViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h2 class="forColorWhite">Dashboard</h2>
        </div>
        <div id="contactList">
            @Html.Partial("Partial/_Contacts", Model.ContactList)
        </div>
    </div>
    <div class="col-md-6">
        <div class="page-header">
            <h2 class="forColorWhite">Contact Details</h2>
        </div>
        <div id="contactStatus"></div>
        <div id="contactDetail"></div>
    </div>
</div>
@Scripts.Render("~/Script/jQuery")
@Scripts.Render("~/Script/bootstrap")
<script>System.import("../Scripts/app/userdashboard.js")</script>