
@{
    ViewBag.Title = "Settings";
}

<div class="page-header">
    <h2 class="forColorWhite">Settings</h2>
</div>
@Scripts.Render("~/Script/bootstrap")
<script>System.import("../Scripts/app/Account.js")</script>

