
@{
    ViewBag.Title = "SyncContacts";
}

<div class="page-header">
    <h2 class="forColorWhite">Sync Contacts</h2>
</div>

@Scripts.Render("~/Script/bootstrap")
<script>System.import("../Scripts/app/Account.js")</script>

